body {
    font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
    color: #333333;
    font-size: 14px;
}
.wrapper {
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;  
  padding-left: 0;
}

.nav>li {
  margin-left: 10px;
  margin-right: 10px;
}

.nav>li>a {
  text-decoration: none;
  color: #333333;
}

.header {
  background-color: #FFFFFF;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  color: #F13C6E;
    font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo-image {
  display: block;
  width: 80px;
  height: 80px;
  background-image: url(../img/logo.svg);
  /* margin-right: 10px; */
}

.header-info span {
  font-size: 16px;
}

.header-info button {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  border: 2px solid #F13C6E;
  border-radius: 40px;
  padding: 10px 15px;
  margin-left: 20px;
  transition: 0.2s ease;
  cursor: pointer;
}

.header-info button:hover {
  background-color: #F13C6E;
}


.header-botton  {
  padding: 15px 0;
}

.header-botton .nav {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.hr {
  border: none;
  background-color: #EFEFEF;
  height: 1px;
}

.banner {
  background-image: url(/img/Rectangle\ 2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 150px;
  padding-bottom: 200px;
  color: #FFF;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  margin-bottom: 39px;
}

.title-h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.banner p {
  margin-bottom: 50px;
  max-width: 315px;
}

.btn {
  color: #FFF;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 40px;
  transition: 0.2s ease;
  padding: 10px 25px;
}

.btn-hover {
  background-color: #fff;
  color: #333333;
}

.bg-white {
  background-color: #fff;
  padding: 23px 30px 34px 30px;
}

.bg-pink {
  background-color: #F13C6E;
  color: #fff;
  padding: 34px 41px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.bg-pink-item {
  flex: 0 0 55%;
}

.bg-pink-item:last-child {
  flex: 0 0 40%;
  text-align: center;
}

.bg-pink h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #EFEFEF;
  margin-top: 0;
  margin-bottom: 20px;
}

.bg-pink p {
  line-height: 1.5;
  margin-bottom: 23px;
}

.bg-pink input {
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px 15px;
  /* width: 100%; */
  max-width: 225px;
  box-sizing: border-box;
}

.bg-pink .btn {
  display: block;
  text-decoration: none;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  transition: 0.2 ease;
  text-align: center;
  min-width: 89px;
  padding: 9px 0;
}

.catalog {
  padding: 100px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 0 30px;
  border: #000000;
}

.grid-item-title {
  grid-column: 1/4;
  grid-row: 1/2;
}

.grid-item-img {
  grid-column: 4/5;
  grid-row: 1/2;
}

.grid-item-left {
  grid-column: 1/3;
  grid-row: 3/4;
  margin-top: 100px;
}

.grid-item-right {
  grid-column: 3/5;
  grid-row: 3/4;
  margin-top: 100px;
}

.grid-item-catalog {
  text-align: center;
  
}

.grid-item-catalog .bg-pink {
  /* padding: 15px 30px; */
}

.thumb {
  margin-bottom: 14px;
}

.grid-title {
  line-height: 1.5;
  margin-bottom: 0;
}

.grid-price {
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  margin-top: 14px;
  letter-spacing: 0.05em;
  margin-bottom: 29px;
}

.grid-btn {
  border-radius: 40px;
  border: 2px solid #F13C6E;
  background-color: #F13C6E;
  color: #FFF;
  padding: 10px 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: 0.2 ease;
  cursor: pointer;
}

.bg {
  background-color: #fff;
  border: 1px solid #EFEFEF;
}

.icon {
  padding: 35px;
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  color: #828282;
  padding: 15px 0;
}
.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #828282;
  text-decoration: none;
}
.footer-info-span {
 font-size: 16px;
 margin-left: 36px;
}
.footer-info button {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  border: 2px solid #F13C6E;
  border-radius: 40px;
  background: #FFFFFF;
  padding: 10px 15px;
  margin-left: 20px;
  transition: 0.2s ease;
  cursor: pointer;
}

.footer-info button:hover {
  background-color: #F13C6E;
}
.social {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}
.social-item {
  margin-right: 20px;
}
.social-link {
  border: 2px solid #F13C6E;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  
}
.social-youtube {
  background-image: url("/img/icon1.svgОJ");
}
.social-vk {
  background-image: url("/img/icon2.svg");
}
.social-fb {
  background-image: url("/img/icon3.svg");
}
.social-inst {
  background-image: url("/img/icon4.svg");
}